{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}Log In{% endblock title %}

{% block body %}
    <h1 class="is-size-1">Log In</h1>
    <div class="columns">
        <div class="column">
            <div class="content">
                <form method="post">{% csrf_token %}
                    {{ form|bulma }}
                    <button class="button is-primary" type="submit">Log In</button>
                </form>
            </div>
        </div>
        <div class="column"></div>
    </div>
{% endblock body %}