{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
    <h1 class="is-size-1 mt-5">About</h1>
    <p class="content is-medium">In this project, I will attempt to build a Django app that runs a survey website
        following the blueprint by Matthew Segal from his <a href="https://mattsegal.dev/django-survey-project.html">Blog Post</a>.</p>
    <br>
    <p class="content is-medium">On this website, users will be able to sign up to create surveys and share it with
        others. The surveys will have questions, and each question will have answers. Users, anonymously, will be able
        to fill the surveys with their responses. Users can fill out the survey infinitely. Should that be changed? Let me know.</p>
    <br>

    <br><br><br><br><br>
    <div class="columns">
        <div class="column is-6">
            <article class="message is-info">
                <div class="message-header">
                    <div>These are features which are not implemented, yet.</div>
                </div>
                <div class="message-body">
                    <ul>
                        <li>* Password recovery</li>
                        <li>* Password reset</li>
                        <li>* Confirmation emails</li>
                        <li>* User information update</li>
                        <li>* User deletion</li>
                        <li>+ Other stuff I can't think of right now.</li>
                    </ul>
                    <br>
                    <p>If you need help with anything from the list please message me</p>
                </div>
            </article>

            <p>Comments, questions, or concerns: please message me on reddit <a href="https://old.reddit.com/u/ModelS-3-XY">u/IhaveASkeletonInside</a></p>
        </div>
    </div>
{% endblock body %}